@page "/fetchdata"

@using Bookshelved.Services
@using Bookshelved.Core.DTOs
@inject BookService BookService

<div class="container">
    <h1>Your Library</h1>

    @if (_books == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="striped">
            <thead>
                <tr>
                    <th>Book IDd</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in _books)
                {
                    <tr>
                        <td>@book.ID</td>
                        <td>@book.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    private IEnumerable<BookDTO> _books;

    protected override async Task OnInitializedAsync()
    {
        _books = BookService.GetAll();
    }
}