@page "/userbooks"

@using Bookshelved.Services
@using Bookshelved.Core.DTOs.Book
@inject BookService BookService
@inject NavigationManager Navigation

<div class="container">
    <h1>Your Library</h1>

    <AuthorizeView>
        <Authorized>
            <h1>You are signed in as: @context.User.Identity.Name</h1>
        </Authorized>
        <NotAuthorized>Sign in</NotAuthorized>
    </AuthorizeView>
    
    @if (_books == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="striped">
            <thead>
                <tr>
                    <th>Book IDd</th>
                    <th>Name</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in _books)
                {
                    <tr>
                        <td>@book.ID</td>
                        <td>@book.Name</td>
                        <td>Test</td>
                        <td><a href="book/@book.ID">View</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    private IEnumerable<BookDTO> _books;

    protected override async Task OnInitializedAsync()
    {
        _books = BookService.GetAll();
        
    }
}